extends layout

block head
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css", integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB", crossorigin="anonymous")

block content
  .container.content
    if !contest.isStarted() && (!user || !user.admin)
      include partials/countdown.pug
    else
      if description.en
        h1 Rule
        != description.en
      
      if description.en && description.ja
        hr(style={margin: '5em 0'})
      
      if description.ja
        h1 ルール
        != description.ja
